*
{
	box-sizing: border-box;
}

.column
{
	float: left;
	width: 50%;
	padding: 10px;
	height: 450px;
	background-color: #fffafa;
}

.left
{
	width: 45%;
}

.img-prodotto
{
	width: 50%;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.right
{
	width: 55%;
}

.row:after 
{
	content: "";
	display: table;
	clear: both;
}

.color-content
{
    margin-top: 1.2rem;
    padding-bottom: 15px;
}

.color-groups
{
    display: flex;
}

.color
{
    width: 55px;
    height: 45px;
    background: none;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.active-color
{
    border: 1px solid #07020d;
    border-radius: 10px;
}

.bottoneDettagli
{
	padding: 9px 25px;
	background: #dd935c;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 30%;
	height: 12%;
	font-size: larger;
	color: #fffafa;
}

h3
{
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}

h6
{
	font-size: 26px;
	color: #222f3e;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.quantita
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.caricamentoFile
{
  background: #f7f7f7; 
  padding: 8px;
  border: 1px solid #e3e3e3; 
  border-radius: 5px; 
  border: 1px solid #ccc;
  display: none;
  padding: 6px 12px;
  cursor: pointer;
}

.menuQuantita
{
	border:none;
  	padding: 10px 20px;
  	border-radius:5px;
  	background-color: #dd935c;
}

.menuQuantita:focus
{
	outline: none;
}

.contenitoreQuantita
{
	padding-bottom: 25px;
}

.contenitorePrescrizione
{
	padding-bottom: 15px;
}

.labelQuantita
{
	font-size: 20px;
}

/*
Toogle 
*/
div.containerToogle
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.containerToogle i
{
    display: inline-block;
    position: relative;
    top: -9px;
}

.etichettaToogle 
{
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.switchToogle
{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.switchToogle > label.switchToogleInterno
{
    margin: 0px;
    width: 165px;
    height: 30px;
    background: #dd935c;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.switchToogle > label.switchToogleInterno:before
{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;

}

.switchToogle > label.switchToogleInterno:after
{
    content: attr(data-off);
    width: 90px;
    height: 16px;
    background: #fffafa;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 5px 0px;
}

.switchToogle > .alert
{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.switchToogle input[type="checkbox"]
{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.switchToogle input[type="checkbox"]:checked + label.switchToogleInterno
{
    background: dd935c;
    color: #fff;
    width: 200px;
}

.switchToogle input[type="checkbox"]:checked + label.switchToogleInterno:after
{
    content: attr(data-on);
    left: 98px;
    background: #fff;
    width: 100px;
    color: #000;
}

.switchToogle input[type="checkbox"]:checked + label.switchToogleInterno:before
{
    content: attr(data-off);
    right: auto;
    left: 20px;
    width: 70px;
    color: #000;
}

.switchToogle input[type="checkbox"]:checked ~ .alert
{
    display: block;
}

.elementoVisibile
{
	display: inline-block;
}

.elementoNascosto
{
	display: none;
}

.paddingToogle
{
	padding-bottom: 10px;
}

.coloreTesto
{
	color: #07020d;
}

@media screen and (max-width: 600px)  
{
	.column
	{
		width: 100%;
	}
	.bottoneDettagli
	{
		width: 60%;
	}
}