.caricamentoFile
{
  background: #f7f7f7; 
  padding: 8px;
  border: 1px solid #e3e3e3; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.elementoNascosto
{
	display: none;
}

.bottoniModifica
{
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.spazioBottone
{
	margin-right: 20px !important;
}

@media screen and (max-width: 700px)
{
	.bottoniModifica
	{
		flex-direction: column;
	}
}

.errore
{
	color: red;
}