:root 
{  
  --bgcolor: #DD935C;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header 
{
  background-color: var(--bgcolor);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.logo 
{
  color: white;
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
}

.nav-bar 
{
  margin: auto;
  display: flex;
}

.nav-bar a 
{
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-icon 
{
  color: white;
  cursor: pointer;
  display: none;
}

button 
{
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.9rem;
}

@media screen and (max-width: 700px) 
{
  .nav-bar 
  {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
  }

  .nav-bar.responsive 
  {
    display: flex;
    justify-content: center;
  }

  .nav-bar a 
  {
    display: block;
  }

  .menu-icon 
  {
    display: block;
    z-index: 1;
    padding-top: 20px;
  }

  .logo 
  {
    font-size: 1.4rem;
  }
}

.icone
{
	width: 35px;
	cursor: pointer;
}

.noButton
{
	border: none;
	background: transparent;
	cursor: pointer;
}

.header-right
{
	padding-top: 15px;
}

.cart-counter
{
  display:inline-block;
  width:20px;
  opacity:0;
  height:20px;
  background:#ddd;
  text-align:center;
  border-radius:50%;
  margin-left:10px;
  position: absolute;
  right: 1%;
}

.opacita
{
	opacity: 1;
}

.noLink
{
	text-decoration: none;
}

::-webkit-scrollbar 
{
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track 
{
  box-shadow: inset 0 0 5px #dd935c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
  background-color: #07020d;
  border-radius: 10px;
}