.contentAdmin
{
	height: 26em;
	width: 30%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	transition: -4s;
	background: #fff;
	display: grid;
	align-content: space-between;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

.bottoneInserisci
{
	padding: 9px 25px;
	background: #dd935c;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	height: 5%;
	font-size: medium;
	color: #fffafa;
}

.contenitoreBottoneInserisci
{
	padding-top: 10px;
	padding-bottom: 10px;
}